body {
	background: black;
	color: white;
	
}
hr {
    display: block;
    height: 1px;
    border: 0;
	border-color: inherit;
	color: inherit;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}